<?xml version="1.0" encoding="UTF-8"?>
<!-- This is an example. Edit it to your needs -->
<rssbot>
	<token>XXXXXXXXXXXXXXXXX</token>
	<updateperiod>600</updateperiod><!-- Optional, default is 900 seconds (15minutes) -->
	<rssbackupfolder>C:/rssbackups</rssbackupfolder>
	<!-- RSS Feeds: -->
	<feed id="101"><!-- ID is optional, it automatically assigns IDs when required -->
		<link>https://www.example.com/feed.php</link>
		<channel>31208289879279727XXXX</channel>
		<channel>37972919291781729XXXX</channel>
	</feed>
	<feed>
		<link>https://www.example.com/feed.php?category=examples</link>
		<channel>Channel ID</channel>
	</feed>
</rssbot>
